<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Významné stromy</title>
    <link rel="stylesheet" type="text/css" href="./static/style.css" />
  </head>

  <script src="./static/angular.min.js"></script>
  <script src="./static/angular-route.min.js"></script>
  <script src="./static/main.js" charset="utf-8"></script>

  <body ng-app="stromyApp">
    <div class="menu">
      <a href="#!/Kategorie5">Kategorie 5</a>
      <a href="#!/Kategorie4">Kategorie 4</a>
      <a href="#!/Kategorie3">Kategorie 3</a>
      <a href="#!/Kategorie2">Kategorie 2</a>
      <a href="#!/Kategorie1">Kategorie 1</a>
      <a href="#!/">Parametry</a>
    </div>
    <div class="menuSpan"></div>

    <div ng-view></div>

    <div class="footerSpan"></div>
    <div class="footer">
      <div class="result">{{strom.K | number: 1}}</div>
      <ul>
        <li>K1: {{strom.K1 | number: 1}} <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W1" ng-change="result()"></li>
        <li>K2: {{strom.K2 | number: 1}} <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W2" ng-change="result()"></li>
        <li>K3: {{strom.K3 | number: 1}} <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W3" ng-change="result()"></li>
        <li>K4: {{strom.K4 | number: 1}} <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W4" ng-change="result()"></li>
        <li>K5: {{strom.K5 | number: 1}} <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W5" ng-change="result()"></li>
      </ul>
    </div>

    <script type="text/ng-template" id="/Parametry">
      <div class="page">
        <h1>Parametry stromu</h1>
        <div class="parametry">
          <input type="text" name="typ" ng-model="typ" value="" placeholder="Typ objektu">
          <input type="text" name="druh" value="" placeholder="Druh stromu">
          <input type="text" name="Pozice" value="" placeholder="Pozice">
          <input type="date" name="datum" value="">
          <input type="text" name="" value="" placeholder="Komentar">
          <button type="submit" name="mainForm">Submit</button>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/Kategorie1">
      <div class="page"> <!--K1 Stromy s kulturně - hisorickým významem-->
        <h1>Kategorie 1</h1>
        <h2>Stromy s kulturně - hisorickým významem</h2>
        <div class="catBlock"> <!--K11 Stromy připomínající mezníky ve vývoji naší státnosti-->
          <h3>Stromy připomínající mezníky ve vývoji naší státnosti
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W11" ng-change="showWeightsK1()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K11" ng-value="0" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K11" ng-value="1" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">2
            <input type="radio" ng-model="strom.K11" ng-value="2" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">3
            <input type="radio" ng-model="strom.K11" ng-value="3" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K12 Stromy osobností-->
          <h3>Stromy osobností
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W12" ng-change="showWeightsK1()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" checked="checked" ng-model="strom.K12" ng-value="0" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K12" ng-value="1" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K12" ng-value="2" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K12" ng-value="3" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K12" ng-value="4" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K13 Stromy výroční (jubilejní)-->
          <h3>Stromy výroční (jubilejní)
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W13" ng-change="showWeightsK1()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" checked="checked" ng-model="strom.K13" ng-value="0" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K13" ng-value="1" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K13" ng-value="2" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K13" ng-value="3" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K14 Stromy přátelství, podpory, porozumění a míru-->
          <h3>Stromy přátelství, podpory, porozumění a míru
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W14" ng-change="showWeightsK1()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" checked="checked" ng-model="strom.K14" ng-value="0" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K14" ng-value="1" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K14" ng-value="2" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K14" ng-value="3" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K15 Stromy - památníky historie, stromy osobností, rodové a slavnostní -->
          <h3>Stromy - památníky historie, stromy osobností, rodové a slavnostní
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W15" ng-change="showWeightsK1()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" checked="checked" ng-model="strom.K15" ng-value="0" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K15" ng-value="1" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K15" ng-value="2" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K15" ng-value="3" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K15" ng-value="4" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K16 Stromy v lidové próze -->
          <h3>Stromy v lidové próze
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W16" ng-change="showWeightsK1()">
          </h3>

          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" checked="checked" ng-model="strom.K16" ng-value="0" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K16" ng-value="1" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K16" ng-value="2" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K17 Stromy památek zahradního a krajinářského umění -->
          <h3>Stromy památek zahradního a krajinářského umění
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W17" ng-change="showWeightsK1()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" checked="checked" ng-model="strom.K17" ng-value="0" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K17" ng-value="1" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K17" ng-value="2" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K17" ng-value="3" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K17" ng-value="4" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>

          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K17" ng-value="5" ng-change="showWeightsK1()">
            <span class="radioInput"></span>
          </label>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/Kategorie2">
      <div class="page"> <!--K2 Stromy s krajinotvorným a orientačním významem-->
        <h1>Kategorie 2</h1>
        <h2>Stromy s krajinotvorným a orientačním významem</h2>
        <div class="catBlock"> <!--K21 Krajinné dominanty-->
          <h3>Krajinné dominanty
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W21" ng-change="showWeightsK2()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K21" ng-value="0" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K21" ng-value="1" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K21" ng-value="2" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K21" ng-value="3" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K21" ng-value="4" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K21" ng-value="5" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K22 Stromy spjaté s architektonickými objekty v krajině-->
          <h3>Stromy spjaté s architektonickými objekty v krajině
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W22" ng-change="showWeightsK2()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K22" ng-value="0" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K22" ng-value="1" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K22" ng-value="2" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K22" ng-value="3" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K22" ng-value="4" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K22" ng-value="5" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K23 Stromy orientační a hraniční-->
          <h3>Stromy orientační a hraniční
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W23" ng-change="showWeightsK2()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K23" ng-value="0" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K23" ng-value="1" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K23" ng-value="2" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K23" ng-value="3" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K23" ng-value="4" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K23" ng-value="5" ng-change="showWeightsK2()">
            <span class="radioInput"></span>
          </label>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/Kategorie3">
      <div class="page"> <!--K3 Stromy s mimořádného ekologického významu-->
        <h1>Kategorie 3</h1>
        <h2>Stromy s mimořádného ekologického významu</h2>
        <div class="catBlock"> <!--K31 Stromy jako biotopy vzácných druhů rostlin, hub a živočichů-->
          <h3>Stromy jako biotopy vzácných druhů rostlin, hub a živočichů
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W31" ng-change="showWeightsK3()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K31" ng-value="0" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K31" ng-value="1" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K31" ng-value="2" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K31" ng-value="3" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K31" ng-value="4" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K31" ng-value="5" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K32 Stromy jako součást jedinečných ekosystémů-->
          <h3>Stromy jako součást jedinečných ekosystémů
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W32" ng-change="showWeightsK3()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K32" ng-value="0" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K32" ng-value="1" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K32" ng-value="2" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K32" ng-value="3" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K32" ng-value="4" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K32" ng-value="5" ng-change="showWeightsK3()">
            <span class="radioInput"></span>
          </label>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/Kategorie4">
      <div class="page"> <!--K4 Stromy s výrazným dendrologickým potenciálem-->
        <h1>Kategorie 4</h1>
        <h2>Stromy s výrazným dendrologickým potenciálem</h2>
        <div class="catBlock"> <!--K41 Stromy výjimečných dendrologických taxonů a stromy sbírkové-->
          <h3>Stromy výjimečných dendrologických taxonů a stromy sbírkové
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W41" ng-change="showWeightsK4()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K41" ng-value="0" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K41" ng-value="1" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K41" ng-value="2" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K41" ng-value="3" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K41" ng-value="4" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K41" ng-value="5" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K42 Stromy mimořádného vzrůstu, vzezření, dimenzí-->
          <h3>Stromy mimořádného vzrůstu, vzezření, dimenzí
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W42" ng-change="showWeightsK4()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K42" ng-value="0" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K42" ng-value="1" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K42" ng-value="2" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K42" ng-value="3" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K42" ng-value="4" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K42" ng-value="5" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K43 Stromy mimořádného stáří-->
          <h3>Stromy mimořádného stáří
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W43" ng-change="showWeightsK4()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K43" ng-value="0" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K43" ng-value="1" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K43" ng-value="2" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K43" ng-value="3" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K43" ng-value="4" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K43" ng-value="5" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K44 Stromy genofondové-->
          <h3>Stromy genofondové
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W44" ng-change="showWeightsK4()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K44" ng-value="0" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K44" ng-value="1" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K44" ng-value="2" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K44" ng-value="3" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K44" ng-value="4" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K44" ng-value="5" ng-change="showWeightsK4()">
            <span class="radioInput"></span>
          </label>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="/Kategorie5">

      <div class="page"> <!--K5 Právně chráněné, v červených seznamech-->
        <h1>Kategorie 5</h1>
        <h2>Právně chráněné, v červených seznamech</h2>
        <div class="catBlock"> <!--K51 Památné stromy-->
          <h3>Památné stromy
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W51" ng-change="showWeightsK5()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K51" ng-value="0" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K51" ng-value="1" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K51" ng-value="3" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K51" ng-value="5" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K52 Strom, jenž je významným krajinným prvkem či jeho nedílnou součástí-->
          <h3>Strom, jenž je významným krajinným prvkem či jeho nedílnou součástí
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W52" ng-change="showWeightsK5()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K52" ng-value="0" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K52" ng-value="1" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K52" ng-value="2" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K52" ng-value="3" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">4</div>
            <input type="radio" ng-model="strom.K52" ng-value="4" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K52" ng-value="5" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K53 Chráněné druhy stromů-->
          <h3>Chráněné druhy stromů
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W53" ng-change="showWeightsK5()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K53" ng-value="0" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K53" ng-value="1" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K53" ng-value="5" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K54 Památkově chráněný strom ve smyslu zák. č. 20/1987 Sb., o státní památkové péči-->
          <h3>Památkově chráněný strom ve smyslu zák. č. 20/1987 Sb., o státní památkové péči
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W54" ng-change="showWeightsK5()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K54" ng-value="0" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K54" ng-value="1" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K54" ng-value="2" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K54" ng-value="3" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K55 Stromy v červených seznamech-->
          <h3>Stromy v červených seznamech
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W55" ng-change="showWeightsK5()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K55" ng-value="0" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K55" ng-value="1" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K55" ng-value="2" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K55" ng-value="3" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
        </div>
        <div class="catBlock"> <!--K56 Stromy zvláště oceněné (diplomy, soutěže)-->
          <h3>Stromy zvláště oceněné (diplomy, soutěže)
            <input class="weight" type="number" min="0" max="1" step="0.1" ng-model="strom.W56" ng-change="showWeightsK5()">
          </h3>
          <label class="radioBtn">
            <div class="radioLabel">0</div>
            <input type="radio" ng-model="strom.K56" ng-value="0" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">1</div>
            <input type="radio" ng-model="strom.K56" ng-value="1" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">2</div>
            <input type="radio" ng-model="strom.K56" ng-value="2" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">3</div>
            <input type="radio" ng-model="strom.K56" ng-value="3" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
          <label class="radioBtn">
            <div class="radioLabel">5</div>
            <input type="radio" ng-model="strom.K56" ng-value="5" ng-change="showWeightsK5()">
            <span class="radioInput"></span>
          </label>
        </div>
      </div>

    </script>



  </body>
</html>
