<div *ngIf="configData != {}" class="mat-elevation-z8 cat-container">
  <div class="sectionHeader">
    {{configData.H}}
    <button mat-button class="arrowBTN"><mat-icon>keyboard_arrow_right</mat-icon></button>
    <div class="catDiv">K{{kategorie+1}}</div>
    <button mat-button class="arrowBTN"><mat-icon>keyboard_arrow_left</mat-icon></button>
  </div>
  <div *ngFor="let groupData of configData.subCat; let i = index">
    <app-classification-btn-group
      [D]=groupData
    ></app-classification-btn-group>
  </div>
  <button mat-button class="nextBTN" [routerLink]="['/kategorie', kategorie+1]" routerLinkActive="active" *ngIf="kategorie!=4">Další</button>
  <button mat-button class="nextBTN" routerLink='/' *ngIf="kategorie==4">Odeslat</button>
</div>
