<table class="treesValidationTable">
    <tr>
      <th>lat</th>
      <th>lon</th>
      <th>type</th>
      <th>species</th>
      <th>date</th>
      <th>comment</th>
      <th>validation</th>
      <th>K1</th>
      <th>K2</th>
      <th>K3</th>
      <th>K4</th>
      <th>K5</th>
    </tr>
    <tr *ngFor="let tree of data">
      <td>{{tree.position.lat}}</td>
      <td>{{tree.position.lon}}</td>
      <td>{{tree.type}}</td>
      <td>{{tree.species}}</td>
      <td>{{tree.date}}</td>
      <td>{{tree.comment}}</td>
      <td>{{tree.validated}}</td>
      <td>{{tree.kategorie.K1}}</td>
      <td>{{tree.kategorie.K2}}</td>
      <td>{{tree.kategorie.K3}}</td>
      <td>{{tree.kategorie.K4}}</td>
      <td>{{tree.kategorie.K5}}</td>
      <td>VALIDATE</td>
    </tr>
</table>
